@model IEnumerable<RenadWebApp.Models.DataModel.LoginModel>

@{
    ViewData["Title"] = "Index";
}



<style>
    .card {
        margin-bottom: 15px;
        transition: 0.3s linear;
    }

        .card:hover {
            box-shadow: 3px 5px 15px #333;
        }

    .abut {
        margin: 5px 0 0;
        display: inline-block;
        text-decoration: none;
        font-weight: 900;
        color: #fff;
        padding: 5px;
        border: 1px solid #ed8b09;
        background: #ed8b09;
        width: 120px;
        text-align:center   
    }

        .abut:hover {
            color: #ed8b09;
            background: transparent;
            border-block-color: #ed8b09;
        }

    table, th, td {
        border: 1px solid black;
        text-align: center
    }
</style>


@foreach (var item in Model) {

     <div class="card " dir="rtl">
       
        <div class="card-body table-responsive">

            <table class="table" dir="rtl">

                <tbody>
                    <thead>
                    <tr style="background-color: #333; color:#fff">
                        <th>
                          <h6> @Html.DisplayNameFor(model => model.username)</h6>
                        </th>
                                <th>
                                    <h6>   @Html.DisplayNameFor(model => model.password)</h6>
                                </th>

                        </tr>
                        </thead>


                        <tr style="text-align:center">
                            <td>
                                    @Html.DisplayFor(modelItem => item.username)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.password)
                            </td>

                            </tr>

                <tr style="text-align:center">
                            <th>
                                <a asp-action="Edit" class="abut" asp-route-id="@item.userId">تعديل</a>
                                </th>
                              <th>

                                <a asp-action="Delete" class="abut" asp-route-id="@item.userId">حذف</a>
                            </th>
                        </tr>

                </tbody>

            </table>
        </div>
    </div>
}


<div class="form-group">
    <a asp-action="Create" class="abut">إضافة مستخدم </a>
</div>

