@model IEnumerable<RenadWebApp.Models.DataModel.ContractModel>

@{
    ViewData["Title"] = "IndexContract";
}

<h2 dir="rtl" style="margin-bottom:30px">عقود العميل</h2>




<style>
    .card {
        margin-bottom : 15px;
        transition : 0.3s linear;
    }

        .card:hover {
        box-shadow : 3px 5px 15px #333;

        }

    .abut {
        margin: 15px 0 0;
        display: inline-block;
        text-decoration: none;
        font-weight: 900;
        color: #fff;
        padding: 5px;
        border: 1px solid #ed8b09;
        background: #ed8b09;
        width: 80px;
        }

    .abut:hover {
            color: #ed8b09;
            background: transparent;
            border-block-color: #ed8b09;
        }
    table, th, td {
        border: 1px solid black;
        text-align: center
    }
</style> 

                @foreach (var item in Model)
                {
    <div class="card " dir="rtl">
        <div class="card-header" style="background-color: #333; color:#fff">
            @Html.DisplayFor(modelItem => item.ContractNumber)

        </div>
        <div class="card-body table-responsive">

            <table class="table" dir="rtl">

                <tbody>
                    <thead>
                    <tr>
                        <th>
                            <h6>اسم المشروع</h6>
                                @* @Html.DisplayNameFor(model => model.ProjectName)*@
                        </th>
                     
                        <th>
                            <h6>تاريخ العرض</h6>
                                @*   @Html.DisplayNameFor(model => model.CreatedDate)*@
                        </th>
                        <th>
                            <h6>مده التسليم</h6>
                                @* @Html.DisplayNameFor(model => model.Duration)*@
                        </th>
                        <th>
                            <h6>تاريخ التسليم</h6>
                                @* @Html.DisplayNameFor(model => model.DeliveryDate)*@
                        </th>

                        <th>
                            <h6> إجمالي المبلغ قبل الضريبه</h6>
                                @* @Html.DisplayNameFor(model => model.TotalAmount)*@
                        </th>

                        <th>
                            <h6>قيمه الضريبه</h6>
                                @* @Html.DisplayNameFor(model => model.TotalTax)*@
                        </th>

                        <th>
                            <h6>إجمالي مبلغ العرض</h6>
                                @*  @Html.DisplayNameFor(model => model.TotalOfContract)*@
                        </th>
                        <th>
                            <h6> المشروع من طرف</h6>
                                @*  @Html.DisplayNameFor(model => model.ProjectBy)*@
                        </th>
                        <th>
                            <h6>نسبه المهندس</h6>
                                @*  @Html.DisplayNameFor(model => model.RatioForEng)*@
                        </th>
                        <th>
                            <h6>إجمالي المبلغ للمهندس</h6>
                                @* @Html.DisplayNameFor(model => model.TotalRatioForEng)*@
                        </th>

                     
                        <th>
                            <h6>  المبلغ  المتأخر</h6>
                                @* @Html.DisplayNameFor(model => model.TotalAmount)*@
                        </th>
                        <th>
                            <h6>    تمت الموافقة</h6>
                                @* @Html.DisplayNameFor(model => model.TotalAmount)*@
                        </th>

                    </tr>
                    </thead>
                    <tr>
                      
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Duration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveryDate)
                        </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>

                    <td>
                            @Html.DisplayFor(modelItem => item.TotalTax)
                    </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.TotalOfContract)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RatioForEng)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalRatioForEng)
                        </td>
                      
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.AmountLate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Approved)
                        </td>
                      
                    </tr>
                    <tr>
                   <th colspan="3">
                            <a class="abut" asp-action="EditContract" style="margin:3px" class="btn btn-primary"  asp-route-id="@item.Id">تعديل</a>
                        </th>
                    <th colspan="3">
                        <a class="abut" asp-action="DetailsContract" class="btn btn-primary" style="margin:3px" asp-route-id="@item.Id">التفاصيل</a>
                        </th>
                    <th colspan="3">
                        <a class="abut" asp-action="Index" asp-controller="Payment" class="btn btn-primary" style="margin:3px" asp-route-id="@item.Id"> الدفعات</a>
                        </th>
                    <th colspan="3">
                        <a class="abut" asp-action="IndexContract" asp-controller="Finaical" class="btn btn-primary" style="margin:3px" asp-route-id="@item.Id"> المطالبات</a>
                        </th>
                  
                         
                    </tr>
                </tbody>

            </table>
             </div>
</div>
                }
          
         
   